@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto+Slab:wght@500&display=swap');

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif; 
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/* 
font-family: 'Dancing Script', cursive;
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* header and navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
}

.logo {
    width: 80px;
    margin: .5rem;
}

.navbar-links ul {
    padding: 0;
    margin: 0 10px 0 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #004AAD;
    text-transform: uppercase;
    padding: 10px 0;
    display: block;
    font-size: 1.5rem;
    margin: 0 1.4rem
}

.navbar-links li:hover {
    border-radius: 10%;
}

.navbar-links li a:hover {
    color: #FA7C07;
    border-bottom: 3px solid #FA7C07;
    font-weight: 700;
    
}

.hamburger-menu {
    position: absolute;
    top: 36px;
    right: 28px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 26px;
}
.hamburger-menu .bar {
    height: 4px;
    width: 100%;
    background-color: #004AAD;
    border-radius: 20px;
}

/* responsive header max-width 950px */

@media (max-width: 950px) {
    .hamburger-menu {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        background-color: #F5F5F5;
        margin: 0;
    }

    .navbar-links li {
        text-align: center;
        border-top: 1px solid #004AAD;
    }

    .navbar-links li a {
        padding: 0.2rem 1rem;
        color: #004AAD;
    }

    .navbar-links li a:hover {
        width: 100%;
        margin: 0;
        background-color: #FA7C07;
        color: #004AAD;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* index page hero img */

#hero-outer {
    height: 100%;
    width: 100%;
    overflow: hidden;

    position: absolute;
    top: 50px;
    z-index: -1;
}

#hero-img {
    height: 100%;
    width: 100%;
    background: url('../images/home/home_hero.jpg') no-repeat center center;
    background-size: cover;

    /* Animage hero image zoom on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create level of zoom for hero img */

@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

/* responsive image max-width 500px */

@media only screen and (max-width: 500px) {
    #hero-img{
        background: url('../images/Home/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg') no-repeat center center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

}

/* Home text overlaying hero img */

#home-content-container {
    top: 200px;
    position: absolute;

    width: 100%;
    height: 350px;
}

#home-text {
    font-size: 140%;
    font-family: 'Roboto Slab', serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #F5F5F5;

    width: 300px;
    height: 200px;

    display: flex;
    justify-content: center;
    padding-left: 15px;

    background-color: rgba(73, 73, 73, 0.95);

    margin: 0 0 0 50px;
}

.training-text {
    color: #FA7C07;
}

/* call to action */

.call-to-action {
    font-size: 180%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 60px;
    border-radius: 10px;
    border: .5px solid white;

    padding: 10px 5px;

    background-color: #FA7C07;

    margin: 20px 0 0 50px;

}

.call-to-action:hover {
    background-color: #004AAD;
}

.call-to-action a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    text-shadow: -1px 0 #004AAD, 0 1px #004AAD, 1px 0 #004AAD, 0 -1px #004AAD;
}

/* responsive home-text max-width 500px */

@media only screen and (max-width: 500px) {

    #home-content-container{
        top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

    }

    #home-text {
        font-size: 120%;
        font-family: 'Roboto Slab', serif;
        text-transform: capitalize;
        letter-spacing: 2px;

        width: 300px;
        height: 140px;

        margin: 0;
        padding: 0;

        text-align: center;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .call-to-action {

        margin-left: 0
    }

}

/* footer */

.footer_container {
    height: 120px;
    width: 100%;
    background-color: #F5F5F5;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer_container h2 {
    display: flex;
    justify-content: center;
    color: #004AAD;
}

.footer_container ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.footer_container li {
    list-style: none;
}

.footer_container li a {
    text-decoration: none;
    display: block;
    padding: 0 40px;
    color: #004AAD;
    font-size: 2rem;
}

.footer_container li a:hover {
    color: #FA7C07;
}

/* minimise icon padding for under 500px */

@media only screen and (max-width: 500px) {
    
    .footer_container {
        height: 90px;
    }

    .footer_container h2 {
        margin: 5px 0 0 0;
    }
    
    .footer_container li a {
        padding: 0 25px;
    }
}



/* ########## EXERCISES ########## */
/* ############ PAGES ############ */

/* background */

.body-blue {
    background-color: #004AAD;
}

.body-orange {
    background-color: #FA7C07;
}

/* top section */

.exercise-top {
    display: flex;
    margin-top: 30px;
    position: relative;
    left: -0.5rem;
}

.exercise-top-right {
    display: flex;
    margin-top: 30px;
    position: relative;
    left: 5rem;
}

.exercises-section {
    margin: 40px 0 0 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* set up img container specific to each image requirement */

/* ............................................ */

.chest-img-container {
    width: 60%;
    height: 370px;
    overflow: hidden;
    border: 3px solid #FA7C07;
    border-radius: 10px;
}

.chest-img-container img {
    width: 100%;
}

.abs-img-container {
    width: 60%;
    height: 370px;
    overflow: hidden;
    border: 3px solid #FA7C07;
    border-radius: 10px;
}

.abs-img-container img {
    width: 100%;
    height: 370px;
    object-fit: cover;

}

.shoulders-img-container {
    width: 60%;
    height: 370px;
    overflow: hidden;
    border: 3px solid #FA7C07;
    border-radius: 10px;
}

.shoulders-img-container img {
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.back-img-container {
    width: 60%;
    height: 370px;
    overflow: hidden;
    border: 3px solid #004AAD;
    border-radius: 10px;
}

.back-img-container img {
    width: 100%;
    height: 370px;
    object-fit: cover;
}

/* ............................................ */

.exercise-header-outer {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exercise-header-outer-org-background {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exercise-header {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.exercise-header-org-background {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.exercise-header h1 {
    font-size: 120%;
    font-family: 'Roboto Slab', serif;
    font-size: 500%;
    color: #F5F5F5;

}

.exercise-header-org-background h1 {
    font-size: 120%;
    font-family: 'Roboto Slab', serif;
    font-size: 500%;
    color: #F5F5F5;

}

.header-colored-word-orange {
    color: #FA7C07;
}

.header-colored-word-blue {
    color: #004AAD;
}

/* exercise section - responsive max-width 1100px */

@media only screen and (max-width: 1100px) {
   
    .exercise-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        left: 0;
    }

    .exercise-top-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        left: 0;
    }

    .header-colored-word-blue {
        color: #FA7C07;
    }

    .chest-img-container {
        width: 90%;
    }

    .abs-img-container {
        width: 90%;
    }

    .shoulders-img-container {
        width: 90%;
    }

    .back-img-container {
        width: 90%;
    }

    .exercise-header-outer {
        width: 88%;
        height: 4rem;
        position: absolute;
        top: 300px;
        background-color: rgba(73, 73, 73, 0.95);
        border-radius: 7px;
    }

    .exercise-header-outer-org-background {
        width: 88%;
        height: 4rem;
        position: absolute;
        top: 300px;
        background-color: #004AAD;
        border-radius: 7px;
    }

    .exercise-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .exercise-header h1 {
        font-size: 350%;
        margin: 0;
    }

}

/* exercise top section - responsive max-width 750px */

@media only screen and (max-width: 750px) {

    .chest-img-container {
        height: 14rem;
    }

    .abs-img-container {
        height: 14rem;
    }

    .abs-img-container img {
        object-position: 0 -110px;
    }

    .shoulders-img-container {
        height: 14rem;
    }

    .back-img-container {
        height: 14rem;
    }

    .exercise-header-outer {
        height: 2.5rem;
        top: 179px;
    }

    .exercise-header-outer-org-background {
        height: 2.5rem;
        top: 179px;
    }

    .exercise-header h1 {
        font-size: 170%;
    }

}

@media only screen and (max-width: 550px) {

    .abs-img-container img {
        object-position: -80px -100px;
    }

    .shoulders-img-container img {
        display: flex;
        object-position: -100px -50px;
    }
}

/* exercise table content */

.exercise-intro-border-orange {
    width: 90%;
    padding: 0 15px;
    background-color: #F5F5F5;
    border: 3px solid #FA7C07;
    color: #004AAD;
}

.exercise-intro-border-blue {
    width: 90%;
    padding: 0 15px;
    background-color: #F5F5F5;
    border: 3px solid #004AAD;
    color: #004AAD;
}

.exercise-instruction-container-blue-text {
    display: flex;
    width: 90%;
    margin-top: 10px;
}

.compound-border-orange {
    width: 50%;
    padding: 0;
    margin-right: 5px;
    background-color: #F5F5F5;
    border: 3px solid #FA7C07;
    color: #004AAD;
}

.compound-border-blue {
    width: 50%;
    padding: 0;
    margin-right: 5px;
    background-color: #F5F5F5;
    border: 3px solid #004AAD;
    color: #004AAD;
}

.isolation-border-orange {
    width: 50%;
    margin-left: 5px;
    padding: 0;
    background-color: #F5F5F5;
    border: 3px solid #FA7C07;
    color: #004AAD;
}

.isolation-border-blue {
    width: 50%;
    margin-left: 5px;
    padding: 0;
    background-color: #F5F5F5;
    border: 3px solid #004AAD;
    color: #004AAD;
}

.exercise-instruction-container-blue-text h3 {
    text-align: center;
    font-size: 130%;
    width: 207px;
    margin: 0 0 15px 0;
}

.exercise-instruction-container-blue-text a {
    text-align: center;
    font-size: 120%;
    color: #004AAD;
}

.exercise-instruction-container-blue-text a:hover {
    color: #FA7C07;
}

.comp-iso-diff {
    display: flex;
    justify-content: center;
}

.header-block-border-orange {
    border-bottom: 3px solid #FA7C07;
    width: 100%;
    margin: 0;
    padding: 10px 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.header-block-border-blue {
    border-bottom: 3px solid #004AAD;
    width: 100%;
    margin: 0;
    padding: 10px 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.exercise-block p {
    padding-left: 10px;
    font-size: 120%;
}

.exercise-block ul {
    list-style: none;
    padding-left: 20px;
}

.exercise-block a {
    text-decoration: none;
    line-height: 150%;
}

/* exercises section - responsive max-width 750px */

@media only screen and (max-width: 750px) {
    
    
    .exercise-instruction-container-blue-text {
        flex-direction: column;
    }

    .compound-border-orange {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .compound-border-blue {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .isolation-border-orange {
        width: 100%;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .isolation-border-blue {
        width: 100%;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
}

/* call to action for exercise pages */

.cta-container {

    margin-top: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cta-exercise-pages-orange {
    font-size: 180%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 60px;
    border-radius: 10px;
    border: .5px solid white;

    background-color: #FA7C07;

}

.cta-exercise-pages-blue {
    font-size: 180%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 60px;
    border-radius: 10px;
    border: .5px solid white;

    background-color: #004AAD;

}

.cta-exercise-pages-orange a {
    width: 100%;
    height: 60px;
    text-decoration: none;
    color: white;
    font-weight: 900;
    text-shadow: -1px 0 #004AAD, 0 1px #004AAD, 1px 0 #004AAD, 0 -1px #004AAD;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-exercise-pages-blue a {
    width: 100%;
    height: 60px;
    text-decoration: none;
    color: white;
    font-weight: 900;
    text-shadow: -1px 0 #004AAD, 0 1px #004AAD, 1px 0 #004AAD, 0 -1px #004AAD;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-exercise-pages-orange:hover {
    background-color: #F5F5F5;
    border: 3px solid #FA7C07;
}

.cta-exercise-pages-blue:hover {
    background-color: #F5F5F5;
    border: 3px solid #004AAD;
}

.cta-exercise-pages-orange a:hover {
    color: #FA7C07;
}

.cta-exercise-pages-blue a:hover {
    color: #004AAD;
}

/* footer-spacing div */

.footer-spacing {
    height: 120px;
    width: 100%;
    margin-top: 20px;
}

@media only screen and (max-width: 500px) {
    
    .footer-spacing {
        height: 90px;    
    }
}
